@font-face {
    font-family: 'aliens%20and%20cows';
    src: url('../fonts/aliens%20and%20cows-trial.ttf');
    font-family: 'CaviarDreams';
    src:url('../fonts/CaviarDreams.ttf');
}
  @font-face{
    font-family: 'BlackJack';
    src:url('../fonts/blackjack.ttf');
  }


                          /*BODY*/
body.v{
margin:0;
padding:0;
border:0;
width: 100%;
height: 100%;
  -webkit-animation: v 12s infinite;
  animation: v 19s infinite;
  /*overflow: hidden;*/
}
@keyframes v {
0% {background:#ebf1d8;}
20%{background:#c5dfbd;}
40%{background:#c6d599;}
60%{background:#c5dfbd;}
80%{background:#c6d599;}
100%{background:#ebf1d8;}
}

@-webkit-keyframes v {
0% {background:#9CA582;}
20%{background:#A5BE9D;}
40%{background:#9CA582;}
60%{background:##E0E4AA;}
80%{background:#BAC9AA;}
100%{background:#9CA582;}
}
                      /*FIN BODY*/


                    /****************************CONTAINER + ROW***********************************/

div#container{
  margin: 0;
  padding:0;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
div.row{
	margin :0;
  padding:0;
  width:100%;
  max-width: none;
}

                    /****************************FIN CONTAINER+ROW********************************/


                    /*********************************ETOILE********************************/

#etoile{
    position: relative;
    top: 5%;
    left:2%;
    width: 155px;
    height:195px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, transform 2s;
}
#etoile:hover {
    width: 200px;
    height: 219px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.tooltip {
    position:relative;
    width: 100%;
    height:100%;

}
.tooltip .tooltiptext {
    position: relative;
    margin:3% 0% 0% 1%;
    visibility: hidden;
    color: black;
    text-align:left;
    font-family: "CaviarDreams";
    font-size: 1.1em;
    border-radius: 12px;
    z-index: 1;
    opacity: 0;
    transition: opacity 9s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


                            /******************************FIN ETOILE******************************/

                            /****************************PHOTOS***********************************/

.testphoto{
  height: 100vh;

}
.photos{
  position:relative;
  height: 98%;
  padding:8% 0 3% 23%;
}
.photomobile{
  display:none;
}

.mobile{
  display:none;
}

                                    /***********************FIN PHOTOS*********************/

                                    /******************NAME****************************/
.name{
  position: relative;
  /*border:1px solid black;*/
}
h1{
  position: relative;
  font-family: "aliens and cows";
  color:black;
  font-size: 7em;
  padding-left: 15%;
  padding-top: 2%;
}

                                      /*********************FIN NAME********************/

                                      /*******************************NAV*************************/
nav {
    position: relative;
    padding-top: 4%;
    padding-left: 14%;
}
nav a{
  position: relative;
  font-family: "CaviarDreams";
  font-size: 1.5em;
  color:black ;
  padding: 1em;
}
nav a:hover{
  color:white;
}
#accueil{
font-size: 1.8em;
vertical-align: super;
color: rgb(130, 171, 14);
}
#a-propos{
  vertical-align: text-top;
}
#contact{
  vertical-align: text-top;
}
                              /*********************FIN NAV************************/

                                    /************************HR***************************/
hr{
  position: relative;
  margin:3% 0% 0% 2%;
  width:69%;
  color:black;
  border:0;
  height: 1px;
  background-color: black;
}
                                          /***************FIN HR*****************/

                                      /*********************ACCROCHE*******************/
h3.accroche{
  position:relative;
  font-family: "BlackJack";
  color:black;
  font-size: 1.6em;
  margin-top:3%;
  padding-left: 18%;
}

                                      /*****************ICONES RESEAUX**********************/

#twitter {
  position:relative;
  vertical-align: sub;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s; /* Safari */
  transition: width 1s, height 1s, transform 1s;
}
#twitter:hover{
  -webkit-transform: rotate(160deg); /* Safari */
    transform: rotate(160deg);
}
#facebook{
position: relative;
vertical-align: sub;
-webkit-transition: width 1s, height 1s, -webkit-transform 1s; /* Safari */
transition: width 1s, height 1s, transform 1s;
}
#facebook:hover{
  -webkit-transform: rotate(160deg); /* Safari */
    transform: rotate(160deg);
}

                           /************************FOOTER*******************/

.footer{
  position:fixed;
}

p#footer{
  font-family: "CaviarDreams";
  text-align: center;
  margin-bottom: 0%;

}
p#footer span{
  margin-left: 2em;
  text-align: center;
}
footer{
  bottom:3%;
  font-size:1.8em;
}



/***************************RESPONSIVE****************************************/
@media screen and (min-width: 721px) and (max-width:767px)
{
  #etoile{
      /*position: relative;
      top: 0;
      left:0;*/
    width: 155px;
    height: 195px;
    -o-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
  }
  #etoile:hover{
    width: 155px;
    height: 195px;
    -o-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}
  .tooltip .tooltiptext{
    display:none;
  }
  .photos{
  display:none;

}
.testphoto{
  height:10%;
}
  .mobile{
    width: 35%;
    height:24%;
    padding:0;
    margin:0 0 0 27%;
    position:relative;
    display:block;

  }
  h1{
    font-size: 5em;
  }
  nav, nav a{
    font-size: 1.1em;
  }
  nav a:hover{
    color:white;
  }

  h3.accroche{
    font-size: 1.2em;
  }
  .reseau{
    position:relative;
  }
  footer{
    position:fixed;
    font-size: 0.5em;
    margin-left: 1.5em;
  }

}
              /***********************361/719********************/
@media screen and (min-width: 481px) and (max-width:720px)
{
  #etoile{
    width: 100px;
    height: 100px;
    -o-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
  }
  #etoile:hover{
    width: 100px;
    height: 100px;
    -o-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}
  .tooltip .tooltiptext{
    display:none;
  }
  .testphoto{
    height:30%;
  }
  .photos{
    display:none;
  }
  .mobile{
    width: 45%;
    height:34%;
    padding:0;
    margin:0 0 0 27%;
    position:relative;
    display:block;
  }
  h1{
    font-size: 5em;
  }
  nav, nav a{
    font-size: 1.1em;
  }
  nav a:hover{

    color:white;
  }
  hr{
    text-align: center;
    margin:3% 0 0 3%;
    /*width:86%;*/
  }

  h3.accroche{
    font-size: 1.2em;
    position: relative;
    /*margin: 2% 0 0 0;
    padding-left: 2%;*/
  }
  .reseau{
    display:none;
  }
  footer{
    position:fixed;
    font-size: 0.5em;
    margin-left: 1.5em;
  }

}
                                /*****************320/480*********************/

@media screen and (min-width: 320px)and (max-width:480px)
{
  #etoile{
    width: 90px;
    height: 90px;
    -o-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
  }
     .tooltip .tooltiptext{
       display:none;
  }
  #etoile:hover{
 -o-transition: none !important;
 -moz-transition: none !important;
 -ms-transition: none !important;
 -webkit-transition: none !important;
 transition: none !important;
 -o-transform: none !important;
 -moz-transform: none !important;
 -ms-transform: none !important;
 -webkit-transform: none !important;
 transform: none !important;
 }

 #etoile:hover {
   width: 90px;
   height: 90px;

}
/*#texte-etoile{
  position:absolute;

}*/
.name{
  position: relative;
}
  h1{
    margin:0;
    font-size: 3em;

  }
  h3.accroche{
    position: relative;
    margin: 2% 0 0 0;
    padding-left: 2%;
    font-size:0.6em;
    font-family: "CaviarDreams";
    text-align: center;;
  }
  img#twitter {
    webkit-transition: none;
    transition: none;
    position:relative;
    width: 25px;
    height:25px;
  }
  #twitter:hover{
    -webkit-transform: none;
      transform: none;
  }
  img#facebook{
    -webkit-transition: none;
    transition: none;
  position:relative;
  width: 25px;
  height:25px;
  }
  #facebook:hover{
    -webkit-transform: none;
    transform: none;
  }


  nav, nav a{
    /*padding-left: 2%;*/
    margin-left: 1%;
    text-align: center;
    padding-left: 0.1em;
    font-size: 1em;
  }
  nav a:hover{

    color:white;

  }



  hr{
    text-align: center;
    margin:3% 0 0 14%;

  }
  .photos{
    display:none;
  }
  .testphoto{
    height:60%;
  }
  .mobile{
    width:40%;
    height:34%;
    padding:0;
    margin:0 0 5% 30%;
    position:absolute;
    display:block;
  }

  }
  footer{
    position: fixed;
  }
  p#footer {
    position: relative;
      /*margin:0 2% 0 29%;*/
    /*padding-left: 2em;*/
    font-size: 0.5em;
    text-align: center;

  }
}
